
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F8E8E1; /* light peach/pink background */
}

/* Header */
header {
  background-color: #792020; /* green background */
  text-align: center;
  padding: 40px 0;   /* mas makapal na green section */
  min-height: 200px; /* optional fixed height */
}
nav {
  margin: 0;
  font-family: Arial, sans-serif; 

}
.logo {
  width: 190px;   
  display: block;
  margin: 0 auto 20px auto; /* center + space sa baba */
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}


main {
  padding: 40px;
  text-align: center;
}

main h1 {
  color: #3b7dd2; 
}



.info {
  max-width: 500px;
  background: #fff8f2;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.info h1 {
  color: #2d688f;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.info p {
  font-size: 1.05rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #333;
}

.info ul {
  list-style: none;
  padding: 0;
}

.info li {
  margin-bottom: 10px;
  padding: 6px 10px;
  background: #fce8e8;
  border-left: 4px solid hsl(207, 63%, 53%);
  border-radius: 6px;
  font-size: 0.95rem;
  color: #444;
}

.about-info {
  flex: 1; 
  margin: 0 40px;
}

.about-info h2 {
  color: #d23b6a;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.about-info p {
  color: #333;
  line-height: 1.6;
  font-size: 1rem;
}




.about-connect {
  text-align: center;
}

.about-connect h3 {
  margin-bottom: 15px;
  color: #333;
}

.socials a img {
  width: 35px;
  margin: 0 6px;
  transition: transform 0.2s ease;
}

.socials a img:hover {
  transform: scale(1.2);
}



